
img {
  max-width: 69px;
  max-height: 50px;
}

.navbar-logo {
  margin-top: 12px;
}

.navbar-logo img {
  margin-right: 34px;
}

.irs--shiny .irs-bar {
    top: 25px;
    height: 7px;
    border-top: 7px solid #c0f12d;
    border-bottom: 2px solid #428bca;
    background: #1d31bd;
}

.selectize-input {
  border: 2px solid #cfff02;
  padding: 8px 11px;
  display: inline-table;
  width: 87%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 25px;
}



body {
  background: #ffffff;
    padding: 50px 0 0 8px;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #3522c5;
}

.section.sidebar {
  position: absolute;
  top: 80px;
  left: 9px;
  right: -15px;
  bottom: 0;
  border-right: 10px solid #f2ff86;
  background-color: white;
  padding-left: 28px;
  padding-right: 2px;
  visibility: hidden;
  overflow: initial;
}



.form-group {
    margin-bottom: 4px;
}